@import url("https://cdn.jsdelivr.net/npm/chota@0.8.0/dist/chota.min.css");

:root {
  --bg-color: #1a1f28;
  --bg-secondary-color: #1a1f28;
  --color-primary: #ffae57;
  --color-lightGrey: #242b38;
  --color-grey: #738699;
  --color-darkGrey: #d9d7ce;
  --color-error: red;
  --color-success: blue;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--color-darkGrey);
}

input {
  background-color: var(--color-lightGrey);
  color: var(--color-darkGrey);
}

::placeholder {
  color: var(--color-darkGrey);
}

.card {
  background-color: var(--bg-color);
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
