@import "https://unpkg.com/chota@latest";

:root {
  --color-primary: purple;
  --color-lightGrey: red;
  --color-grey: darkgray;
  --color-darkGrey: green;
  --color-error: red;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: #1c2022;
  color: gray;
}

input {
  background-color: gray;
}

::placeholder {
  color: black;
}
